.questionResultsContainer {
    min-width: 320px;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;

}


.questionResultsElement {
    overflow: auto
}

.questionResultsHeader {
    height: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom-style: solid;
    border-color: lightgray;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}


.questionResultsControls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.questionResultsFormControl {
    width: 100%;
    margin-top: 30px !important;
}

.questionResultsText {
    font-weight: bold;
    margin-top: 20px;
}

.questionResultsSeparator {
    text-align: center;
    background-color: lightgray;
    height: 100%;
    width: 1px;
}

.questionResultsTitle {

    font-weight: bold;
    font-size: 1em;
    height: 30px;
}

.questionResultsAnswerGrid {
    margin-top:30px !important;
}

.questionResultsTotalVotes {
    text-align: center;
    font-weight: bold;
}

.questionResultsAnswerElement {
    padding: 10px;
}

.questionResultsAnswerProgress {
    height: 15px !important;
}

.questionResultsUserVote {
    background-color: black;
    color: white;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    margin-top: -31px;
    margin-left: 260px;
    position: absolute;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.questionResultsScoreCardImage {
    margin: 'auto';
    display: 'block';
    max-width: '100%';
    max-height: '100%';
    width: 100px;
    height: 100px;
}
